PORT=5000
MONGODB_URI=mongodb+srv://rohanvishwakarma9546_db_user:Root%40123321@cluster0.bsigmfs.mongodb.net/wyw_jewellerys
JWT_SECRET=your_super_secret_jwt_key_change_in_production
JWT_EXPIRE=7d
NODE_ENV=development
FRONTEND_URL=http://localhost:3000

# WhatsApp — country code + number, NO + or spaces
# Example for India +91 99999 00000 → 919999900000
WHATSAPP_NUMBER=919220991413

# Email (optional — for contact form emails)
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_USER=your@gmail.com
EMAIL_PASS=your_app_password
EMAIL_FROM=WYW Jewellery <noreply@thewyw.com>


